VITE_ACCESSKEY_ID = ""
VITE_ACCESSKEY_SECRET = ""
VITE_BUCKET = "" 
VITE_REGION = ""
VITE_APP_EMOJI_ICON = "🧡"
VITE_APP_NAME = "PicAliOSS"
VITE_APP_VERSION = "v1.0-beta"
VITE_APP_AUTHOR = "程序员轻叶"
VITE_APP_DESCRIPTION = "轻量级阿里云 OSS 图床浏览器插件。"
VITE_APP_BIO = "基于 WXT + Vue 3 + TypeScript + PrimeVue 构建，专注图片上传、管理与链接生成。"
VITE_APP_REPOSITORY = "https://github.com/yxb123456cy/PicAliOSS"
